<div class="rest">
  <div class="row" style="margin-top: 45px;">
    <div class="col-lg-6" style="    display: flex;
    flex-direction: column;
    justify-content: center;">
      <h1>welcome !</h1>
      <h2>Dine With SHVY</h2>
      <h2>Reservation</h2>
      <!-- <div class="sidebar-btns">
        <a (click)="navigateToMenu()"> <span class="item">MENU</span></a>
        <a routerLink="/table"> <span class="item">TABLE</span></a>
        <a routerLink="/order"> <span class="item">ORDERS</span></a>
      </div> -->
    </div>
    <div
      class="col-lg-6"
      style="display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; height: 85vh;"
    >
          <a (click)="navigateToMenu()">
              <div class="card">
                  <img class="card-img-top" src="../../assets/white-ceramic-tea-cup-on-white-saucer-near-menu-book-128424 (3).jpg" />
                  <div class="card-img-overlay">
                    <h2 class="card-title">Menu</h2>
                    <i class="fa fa-chevron-circle-right  text-center" aria-hidden="true"></i>
                  </div>
                </div>
          </a>

          <a routerLink="/table">
            <div class="card">
                <img class="card-img-top" src="../../assets/table-in-vintage-restaurant-6267.jpg" />
                <div class="card-img-overlay">
                  <h2 class="card-title">Tables</h2>
                  <i class="fa fa-chevron-circle-right text-center" aria-hidden="true"></i>
                </div>
              </div>
          </a>
      
          <a routerLink="/order"> 
            <div class="card">
                <img class="card-img-top" src="../../assets/people-inside-bar-2159074 (1).jpg" />
                <div class="card-img-overlay">
                  <h2 class="card-title">Orders</h2>
                  <i class="fa fa-chevron-circle-right text-center" aria-hidden="true"></i>
                </div>
              </div>
          </a>
         </div>
  </div>
</div>
